/*general*/

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

h2{
    font-size: 1.7em;
    font-weight: 800;
    line-height: 2em;
}

h3{
    font-size: 1.4em;
    font-weight: 800;
    line-height: 2em;
}


h4{
    font-size: 1.2em;
    font-weight: 800;
    line-height: 2em;
}

h5{
    font-size: 1.1em;
    font-weight: 800;
    line-height: 2em;
}

p{
    line-height: 2em;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 69px;
    position: fixed;
    width:100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 10;
}
.navigation{
    display: flex;
    padding-right: 20px;
}
.navigation li {
    display: inline;
}

.navigation a{
    color: seashell;
}

#logo{
    max-height: 50px;
    display: flex;
}

/*container*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mainbanner */

.mainbanner{
    padding-top: 69px;
    background-image: url("file:///Users/lukaszlukasiewicz/Desktop/PEACE/PROJEKTY_CODEACADEMY/TeaCozy/Images/img-mission-background.jpeg");
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 700px;
    max-width: 1200px;
}


.mission{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.5em;
    margin: 25% 0px;
    width: 100%;
}

/*TeaOfTheMonth*/

.teaofthemonth{
    background-color: black;
    text-align: center;
    flex-direction: column;
    align-items: center;
    line-height: 0.5em;
    display: flex;
    max-width: 1000px;
    padding: 30px 0;
}

.teabox{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;

}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px;
}

.box img{
    max-height: 200px;
    max-width: 300px;
}

.box figcaption{
    font-family: Helvetica;
    padding-top: 0.5em;
}

/*Locations */

.locations{
    background-image: url("file:///Users/lukaszlukasiewicz/Desktop/PEACE/PROJEKTY_CODEACADEMY/TeaCozy/Images/img-locations-background.jpeg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    resize: both;
    background-repeat: no-repeat;
    width: 1200px;
    height:500px;
}
    

.location-container{
    display: flex;
    justify-content: center;
 }

.location-box{
    min-width: 300px;
    background-color: black;
    text-align: center;
    margin: 15px 20px; 
}

.location-box p{
    padding: 0.6em 0;
}

.locations h2{
    line-height: 0 !important;
    padding-bottom: 15px;
    text-align: center;
}

/*footer*/

#footer{
    text-align: center;
}

#copyright{
    text-align: left;
    margin-left: 20px;
}
